# Universal
.DS_Store
Thumbs.db
*.swp
*.tmp
*.log

# IDEs
.vscode/
.idea/
*.iml

# Env
.env
.env.*

# Node / TS
node_modules/
dist/
build/
coverage/

# Java / Maven
**/target/
**/.classpath
**/.project
**/.settings/

# .NET
**/bin/
**/obj/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / tooling
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
